body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  padding-bottom: 4%;
}

#title .container-fluid {
  padding: 3% 15%;
}

#title h1 {
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  width: 20%;
  right: 23%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 15px;
}

.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

/* Navigation Bar */


/* Download button */
.download-button {
  margin: 5% 2% 5% 0;
}
/* Download button */

/* Second Section */
#description {
  position: relative;
  background-color: white;
}

#description .row {
  text-align: center;
  padding: 10% 15% 8%;
}

#description .col-lg-4 {
  margin-bottom: 10%;
}

#description h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

#description i {
  font-size: 4rem; 
  color: #ef8172;
}

#description i,
#description h3 {
  margin-bottom: 3%;
}

#description i:hover {
  color: #ff4c68; 
}

#description p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #8f8f8f;
}

/* Testimonials and Press */

#testimonials,
#press {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.carousel-container {
  padding: 8% 16% 10%;
}

.logo-container {
  padding: 3% 10% 5%;
}

#testimonials h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 3%;
}

#testimonials p {
  display: inline-block;
}

.carousel-image {
  border-radius: 10000px;
  width: 10%;
}

.logo-image {
  width: 18%;
}

/* Prices part */
#price .row {
  padding-bottom: 1%;
}

.card {
  border-radius: 5px;
}

#price h1,
#price h2,
#price h3 {
  font-weight: 900;
}

#price p {
  color: #8f8f8f;
  font-size: 0.8rem;
}

#price h1 {
  font-size: 3rem;
  margin-bottom: 1.2%;
}

#price h3 {
  font-size: 1.7rem;
}

#price h2 {
  font-size: 3rem;
  padding-top: 5%;
  margin-bottom: 5%;
}

#price {
  text-align: center;
  padding: 7% 7% 8%;
}

.after-header {
  margin-bottom: 5%;
}